/* fonts.css */

@font-face {
  font-family: 'Have Heart';
  src: url('/fonts/HaveHeart-subset.woff2') format('woff2'),
       url('/fonts/HaveHeart.woff2') format('woff2'),
       url('/fonts/HaveHeart.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  @font-face {
    font-family: 'Permanent Marker';
    src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }