---
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import Creed from "../components/Creed.astro";
import TravelCalculator from '../components/TravelCalculator.astro';
import ConclaveCoach from '../components/ConclaveCoach.astro';
import Registration from '../components/Registration.astro';
import AccommodationHotel from '../components/AccommodationHotel.astro';
import Centennial from '../components/Centennial.astro';
import WilsonSlider from '../components/WilsonSlider.astro';
import RoadsDivider from '../components/RoadsDivider.astro';
---

<Layout title="All Roads Lead To Ada">
	<main class="mb-10">
		<HeroSection/>
		<div class="mt-16 md:mt-20"><Centennial/></div>
		<div class="mt-16 md:mt-20"><Features/></div>
		<div class="mt-16 md:mt-20"><WilsonSlider/></div>
		<div class="mt-16 md:mt-20"><AccommodationHotel/></div>
		<Creed/>
		<Registration/>
		<RoadsDivider/>
		<div class="mt-16 md:mt-20"><ConclaveCoach /></div>
		<div class="mt-16 md:mt-20"><TravelCalculator/></div>
		<div class="mt-16 md:mt-20"><Testimonials/></div>
	</main>
</Layout>

