---
import GlowingCard from '../components/GlowingCard.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import Creed from "../components/Creed.astro";
import TravelCalculator from '../components/TravelCalculator.astro';
import ConclaveCoach from '../components/ConclaveCoach.astro';
import Chapters from '../components/Chapters.astro';
import Registration from '../components/Registration.Astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-60">
		<HeroSection/>
		<Features/>
		<Registration/>
		<Creed/>
		<Chapters/>
		<div class="-mt-45">
		<GlowingCard/>
	</div>
		<div class="-mt-40">
			<ConclaveCoach />
			</div>
		<TravelCalculator/>
		<Testimonials/>
	</main>
	<script src="/js/creed.js" defer></script>
</Layout>

