---
import Container from "./Container.astro";
import ZoomableMap from '../components/ZoomableMap.astro';
--- 

<div id="chapters">
  <Container>
    <h2>Chapters</h2>
  </Container>
</div>
<body>
  <ZoomableMap />
</body>
  <!-- CONTENT AREA -->
  <div class="palette-wrapper">
   <section class="palette">
        <div class="swatch" data-name="Ν Α" data-full-name="Nu Alpha" data-code="University of Connecticut | March 1, 1918 | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Ν Β" data-full-name="Nu Beta" data-code="University of New Hampshire | March 1, 1918 | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Ν Γ" data-full-name="Nu Gamma" data-code="University of Vermont | March 1, 1918 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Γ Α" data-full-name="Gamma Alpha" data-code="Northwestern University | April 28, 1921 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Ν Δ" data-full-name="Nu Delta" data-code="MIT | January 22, 1922 | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Γ Β" data-full-name="Gamma Beta" data-code="University of Michigan | May 1, 1922 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Γ Γ" data-full-name="Gamma Gamma" data-code="University of Illinois | February 24, 1923 | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Ν Ε" data-full-name="Nu Epsilon" data-code="University of Maine | March 3, 1923 | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Γ Δ" data-full-name="Gamma Delta" data-code="University of Wisconsin | March 16, 1923 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Α" data-full-name="Mu Alpha" data-code="Susquehanna University | December 20, 1924 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Π Α" data-full-name="Pi Alpha" data-code="UC Berkeley | April 18, 1925 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Β" data-full-name="Mu Beta" data-code="Ohio Northern University | April 10, 1926 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        <div class="swatch" data-name="Μ Γ" data-full-name="Mu Gamma" data-code="Ohio State University | May 22, 1926 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Ν Ζ" data-full-name="Nu Zeta (Original)" data-code="Boston University | April 30, 1927 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Ν Η" data-full-name="Nu Eta" data-code="University of Rhode Island | February 23, 1929 | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Ν Θ" data-full-name="Nu Theta" data-code="RPI | May 4, 1929 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Μ Δ" data-full-name="Mu Delta" data-code="Wittenberg University | March 1, 1930 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Π Β" data-full-name="Pi Beta" data-code="Oregon State University | November 28, 1931 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Ν Ι" data-full-name="Nu Iota" data-code="Tufts University | October 21, 1934 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Ν Κ" data-full-name="Nu Kappa" data-code="New York University | December 7, 1935 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Ν Ζ" data-full-name="Nu Zeta" data-code="UMass Amherst | October 17, 1953 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Γ Ε" data-full-name="Gamma Epsilon" data-code="University of Minnesota–Morris | December 18, 1964 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Ν Λ" data-full-name="Nu Lambda" data-code="Trinity College | April 30, 1966 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Ν Ξ" data-full-name="Nu Xi" data-code="University of Southern Maine | December 8, 1967 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Ζ" data-full-name="Mu Zeta" data-code="Lock Haven University | April 12, 1969 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Μ Η" data-full-name="Mu Eta" data-code="Kutztown University | April 25, 1970 | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Ν Ο" data-full-name="Nu Omicron" data-code="Keene State College | September 26, 1970 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Γ Ψ" data-full-name="Gamma Psi" data-code="Tarkio College | April 17, 1971 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Κ" data-full-name="Mu Kappa" data-code="Slippery Rock University | May 27, 1972 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Ω" data-full-name="Mu Omega (Original)" data-code="University of Toledo | May 19, 1973 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Π" data-full-name="Mu Pi" data-code="California University of Pennsylvania | May 5, 1985 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Λ" data-full-name="Mu Lambda" data-code="Mansfield University | August 8, 1998 | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Μ Θ" data-full-name="Mu Theta" data-code="Indiana University of Pennsylvania | August 8, 1998 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Ι" data-full-name="Mu Iota" data-code="Lycoming College | April 15, 1999 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Ξ" data-full-name="Mu Xi" data-code="Pennsylvania College of Technology | April 25, 2003 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Ν Π" data-full-name="Nu Pi" data-code="Plattsburgh University | April 28, 2007 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Μ Ο" data-full-name="Mu Omicron" data-code="Frostburg State University | April 15, 2009 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Ν Θ Η" data-full-name="Nu Theta Eta" data-code="New England College | October 29, 2011 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Σ Α" data-full-name="Sigma Alpha" data-code="Longwood University | April 25, 2013 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Μ Ρ" data-full-name="Mu Rho" data-code="Shawnee State University | March 13, 2016 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Σ" data-full-name="Mu Sigma" data-code="Rutgers University–New Brunswick | October 22, 2016 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        <div class="swatch" data-name="Μ Τ" data-full-name="Mu Tau" data-code="Rutgers University–Camden | October 22, 2016 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Υ" data-full-name="Mu Upsilon" data-code="Robert Morris University | March 1, 2018 | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        
        <div class="swatch" data-name="Μ Ε" data-full-name="Mu Epsilon" data-code="Penn State University | October 11, 2023 | Chapter Dormant" style="background-color:#212322;"></div>
        
        <!-- No Charter / Provisional (Placed Last) -->
        <div class="swatch" data-name="Σ Β" data-full-name="Sigma Beta" data-code="Alabama University | Did Not Charter | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Ν Ρ" data-full-name="Nu Rho" data-code="Rhode Island College | Did Not Charter | Active" style="background: linear-gradient(180deg, #ea7600 0%, #f1d44b 100%);"></div>
        <div class="swatch" data-name="Μ Φ" data-full-name="Mu Phi" data-code="Marywood University | Did Not Charter | Chapter Dormant" style="background-color:#212322;"></div>
        <div class="swatch" data-name="Μ Ω" data-full-name="Mu Omega" data-code="Temple University | Did Not Charter | Chapter Dormant" style="background-color:#212322;"></div>
        
        <div class="swatch" data-name="Μ Χ" data-full-name="Mu Chi" data-code="Stevenson University | Provisional Charter | Active" style="background-color:#39FF14;"></div>
        <div class="swatch" data-name="Μ Ψ" data-full-name="Mu Psi" data-code="Stockton College | Provisional Charter | Active" style="background-color:#39FF14;"></div>
  </div>
<script>
const alumniChapters = [
  "Ν Β",
  "Μ Α",
  "Μ Β",
  "Mu Zeta",
  "Mu Xi",
  "Ν Γ",
  "Nu Xi",
  "Nu Omicron",
  "Sigma Alpha"
];

document.querySelectorAll(".swatch").forEach(el => {
  if (alumniChapters.includes(el.dataset.full.name)) {
    el.style.background = "linear-gradient(180deg, #ea7600 0%, #f1d44b 100%)";
  }
});
const provisional = [
  "Mu Chi",
  "Mu Psi",
];

document.querySelectorAll(".swatch").forEach(el => {
  if (provisional.includes(el.dataset.full.name)) {
    el.style.backgroundColor = "#ff9c38";
  }
});
document.querySelectorAll(".swatch").forEach(el => {
  if (alumniChapters.includes(el.dataset.name)) {
    el.dataset.code += " | Active Alumni Association";
  }
});

</script>
<style>

body {
  align-content: center;
  block-size: 100%;
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
  margin: 0;
}

.palette-wrapper {
  block-size: 100px;
  position: relative;
  clip-path: inset(-125px 0 0 0);
}

.palette {
  block-size: 200px;
  display: flex;
  overflow: visible;
  min-inline-size: calc(150px * 6);
  padding: 8px;
  align-items: flex-end;
}

.swatch {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  block-size: 200px;
  color: #ffffff;
  display: flex;
  flex-basis: 100%;
  font-weight: 500;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.swatch.dark-text {
  color: #1e1919;
}

.swatch::before,
.swatch::after {
  opacity: var(--text-opacity, 0);
  transition: opacity 0.3s ease;
}

.swatch::before {
  content: attr(data-name);
  font-size: 16px;
  line-height: 24px;
}

.swatch::after {
  content: attr(data-code);
  font-size: 12px;
  line-height: 20px;
}

.swatch + .swatch {
  margin-inline-start: -20%;
}

.swatch:hover {
  --text-opacity: 1;
  transform: translateY(-50%) rotateZ(-1.5deg);
}

/* One swatch before hover */
.swatch:has(+ .swatch:hover) {
  transform: translateY(-30%) rotateZ(-1deg);
}

/* Two swatches before hover */
.swatch:has(+ .swatch + .swatch:hover),
/* One swatch after hover */
.swatch:hover + .swatch {
  transform: translateY(-10%) rotateZ(-0.5deg);
}

</style>