<section class="creed-wrap paused">
    <div class="container">
      <span class="creed-line">
        <span class="creed-prefix">I believe in </span>
        <span class="creed-word"></span>
        <span class="creed-ellipsis"></span>
      </span>
    </div>
  </section>
  