---
interface Props {
  class?: string;
}
const { class: className = "" } = Astro.props;
---

<section class:list={["glowing-card-section", className]}>
  <!---Content Area -->
  <div class="content-area">
    <h1>Content Area</h1>
  </div>
</section>

<style>
  .glowing-card-section {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .content-area {
    min-height: 100vh;
    position: relative;
  }
</style>
